@import "./body.scss";
@import "./navigation.scss";
@import "./about.scss";
@import "./reel.scss";

.header {
    font-size: 10em;
    font-family: 'Anton', sans-serif;
    color: white;
}

// font-family: 'Anton', sans-serif;
// font-family: 'Economica', sans-serif;
// font-family: 'Jockey One', sans-serif;
// font-family: 'Lekton', sans-serif;